In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
fData = pd.read_csv('../data/GlobalLandTemperaturesByCountry.csv')
fData['dt'] = pd.to_datetime( fData['dt'], format='%Y-%d-%m', errors='ignore' )
fData = fData[ fData['AverageTemperature'].notnull() ]

In [8]:
iranData = fData[ fData['Country'] == 'Iran' ]
iranData = iranData.drop('AverageTemperatureUncertainty', 1)
iranData = iranData.drop('Country', 1)

In [9]:
iranData.head()

               dt  AverageTemperature
248573 1837-01-02               6.965
248574 1837-01-03              11.100
248575 1837-01-04              16.112
248576 1837-01-05              21.845
248577 1837-01-06              26.454

In [10]:
dataMatrix = iranData.as_matrix()
print( dataMatrix )

[[Timestamp('1837-01-02 00:00:00') 6.965]
 [Timestamp('1837-01-03 00:00:00') 11.1]
 [Timestamp('1837-01-04 00:00:00') 16.112000000000002]
 ...,
 [Timestamp('2013-01-06 00:00:00') 29.361]
 [Timestamp('2013-01-07 00:00:00') 31.459]
 [Timestamp('2013-01-08 00:00:00') 29.47300000000001]]

In [12]:
data = dataMatrix
n = 2
m = data.shape[0]

theta = np.array(n * [0])

x = data[:, :n-1]
x = np.concatenate((np.ones((1,m)), x.T)).T
x

array([[1.0, Timestamp('1837-01-02 00:00:00')],
       [1.0, Timestamp('1837-01-03 00:00:00')],
       [1.0, Timestamp('1837-01-04 00:00:00')],
       ...,
       [1.0, Timestamp('2013-01-06 00:00:00')],
       [1.0, Timestamp('2013-01-07 00:00:00')],
       [1.0, Timestamp('2013-01-08 00:00:00')]], dtype=object)